// Custom Grid System
// Author: Luiz Gustavo Freire Gama

// Variables

$default-container-with: 100% !default
$default-gutter: 24px !default
$default-cols: 12 !default
$default-direction: 'ltr'
$default-edges: true !default
$fixed-gutter: true !default
//$fluid: true !default // not used for now
//$semantic: true !default // not used for now


// +container
=container($width: $default-container-with, $clear: false)
  @if $clear
    max-width: inherit
    margin-left: inherit
    margin-right: inherit
  @else
    max-width: $width
    margin-left: auto
    margin-right: auto


// +grid
=grid($cols, $total, $gutter: $default-gutter, $edges: $default-edges, $cycle: 0, $uncycle: 0, $direction: $default-direction, $prefix: 0, $suffix: 0)
  @warn $gutter
  @if $direction == 'ltr'
    float: left
  @else
    float: right
  $width: ($cols / $total) * 100%
  @if $uncycle > 0
    &:nth-of-type(#{$uncycle}n)
      margin-right: inherit
    &:nth-of-type(#{$uncycle}n+1)
      clear: none
  @if $edges
    width: calc(#{$width} - #{$gutter})
    @if $prefix <= 0
      margin-left: $gutter / 2
    @else
      margin-left: calc(#{$width * $suffix} + #{$gutter / 2})
    @if $suffix <= 0
      margin-right: $gutter / 2
    @else
      margin-right: calc(#{$width * $suffix} + #{$gutter / 2})
  @else
    $sum: ($cols / $total) * $gutter
    width: calc(#{$width} + #{$sum} - #{$gutter})
    @if $suffix == 0
      margin-right: $gutter
    @if $prefix > 0
      margin-left: calc(#{$width * $prefix} + #{$sum * $prefix})
    @if $suffix > 0
      margin-right: calc(#{$width * $prefix} + #{$sum * $prefix + $gutter})
    @if $cycle == 0
      &:last-of-type
        margin-right: 0
    @else
      &:nth-of-type(#{$cycle}n)
        margin-right: 0
      &:nth-of-type(#{$cycle}n+1)
        clear: both
